*{
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{
    margin-top:47px;
    margin-left:42px;
}

.linkheader{
    font-size: 14px;
    letter-spacing: 1px;
    color: #17233D;
    margin-left:32px;
    cursor:pointer;
}
.linkheader:hover{
    opacity: .7;
}
.linkheader:active{
    opacity: .5;
    transition: 0.4s;
}

.signup{
    margin-left:32px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    font-weight: 500;
    letter-spacing: 1px;
    color:white;
    cursor:pointer;
}
.signup:hover{
    opacity: .7;
}
.signup:active{
    opacity: .5;
    transition: 0.4s;
}

div{
    display:inline-block;
    margin-left:85px;
}

img{
    width: 533px;
    height: 466px;
    margin-left: 121px;
    display:inline-block;
    margin-top:162px;
}

h1{
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596;
    width: 582px;
    height: 164px;
}

p{
    color: #4B505A;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    width:493px;
    height:99px;
    margin-top:47px;
    margin-bottom:55px;
}

.learn{
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor:pointer;
}
.learn:hover{
    opacity: .7;
}
.learn:active{
    opacity: .5;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    header *:not(:nth-child(5)) {
        display: none;
    }
    div {
        margin-left: 20px;
    }
    
    h1 {
        font-size: 36px;
        line-height: 48px;
        width: 100%;
        height: auto;
        text-align: center;
    }
    
    p {
        font-size: 16px;
        line-height: 28px;
        width: 99%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left:-1.5%;
        text-align: center;
    }
    img {
        width: 98%;
        height: auto;
        margin-left: 2%;
        margin-top: 20px;
    }
    .learn{
        display:block;
        text-align: center;
     }
     .signup {
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(-50%, 50%);
        width: 91px;
        height: 31px;}
     }
